.codebuddy
.vscode
client/web/node_modules
client/web/package-lock.json

server/application/chatroom/muduo/lib/
server/application/job/muduo/lib/
server/application/logic/muduo/lib/

server/application/chatroom/build
server/application/job/build
server/application/logic/build

server/grpc/